<app-header reveals>
  <app-toolbar>
    <paper-icon-button icon="menu" (click)="drawer.toggle()"></paper-icon-button>
    <div main-title>My Todo</div>
    <paper-icon-button icon="delete" (click)="removeAll()"></paper-icon-button>
    <paper-icon-button icon="done-all" (click)="toggleAll()"></paper-icon-button>
  </app-toolbar>
</app-header>
<paper-item *ngIf="tasks.length === 0">No Tasks remain.</paper-item>
<paper-item class="task" *ngFor="let item of tasks; let i = index">
  <paper-item-body>
    <paper-checkbox #check [checked]="item.checked" (change)="item.checked = check.checked"><span [class.done]="item.checked">{{item.title}}</span></paper-checkbox>
  </paper-item-body>
  <paper-icon-button raised (click)="removeTask(i)" icon="delete"></paper-icon-button>
</paper-item>
<app-drawer #drawer id="drawer" swipe-open>
  <paper-item>
    <paper-button (click)="removeAll()"><iron-icon icon="delete"></iron-icon>Remove all</paper-button>
  </paper-item>
  <paper-item>
    <paper-button (click)="toggleAll()"><iron-icon icon="done-all"></iron-icon>Toggle all</paper-button>
  </paper-item>
</app-drawer>
<paper-fab icon="add" (click)="dialog.open()"></paper-fab>
<paper-dialog #dialog>
  <h2>New task</h2>
  <div class="main">
    <form>
      <paper-input #input label="Title" autofocus></paper-input>
    </form>
  </div>
  <div class="buttons">
    <paper-button dialog-dismiss (click)="cleanInput()">Cancel</paper-button>
    <paper-button dialog-confirm (click)="addTask(input.value)">Create</paper-button>
  </div>
</paper-dialog>
